@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{

  html{
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar{
    width: 2px;
    display: none;
  }

  .menu-link:before{
    content:"<";
    margin-right: 10px;
    display: inline-block;
    opacity: 0;
    transform: translateX(20px);
    transition: transform 0.3s , opacity 0.2s;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  }

  .menu-link:after{
    content:">";
    margin-left: 10px;
    display: inline-block;
    opacity: 0;
    transform: translateX(-20px);
    transition: transform 0.3s , opacity 0.2s;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
  }

  .menu-link:hover::after,
  .menu-link:hover::before{
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
  }

  .menu-link:active{
    color:#5555;
  }

  .showIconsColumn{
    @apply flex-col fixed bottom-0 left-10 items-center h-56 w-28 px-4
  }

  .showLine{
    @apply border-secundary border h-px w-60 rotate-90 absolute bottom-0
  }

}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0)   inset;
  box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}