@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  
  .content-link:hover {
    color: #2DD4BF;
  }

  .tag-code{
    padding: .2em .2em;
    color: #2DD4BF;
    position: relative;
    font-size: 20px;
  }

  .tag-code::before,
  .tag-code::after{
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 1;
  }
}